body {
  background-image: url(../../public/clouds.jpeg);
}

.cartImage {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  margin: 0;
  display: block;
}

.my-cart-title {
  font-family: 'Butcherman', cursive;
  color: red;
}
