body {
  background-image: url(../../public/clouds.jpeg);
}

img {
  float: left;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.butcherman-font {
font-family: 'Butcherman', cursive;
color: red;
}
