body {
  background-image: url(../../../public/clouds.jpeg);
}

.cartImage {
  width: 16rem;
  height: 16rem;
  max-width: 100%;
  object-fit: contain;
  margin: 0;
  display: block;
}

.my-cart-title {
  font-family: 'Butcherman', cursive;
  color: red;
}

.checkout-blue {
  background-color: #E2F3FF;
  border-radius: .5rem;
}

.checkout-button {
  width: 80%;
}

.empty-cart {
  font-size: 2rem;
  height: 50vh;
}
