body {
  background-image: url(../../../public/clouds.jpeg);
}

.catalog-img {
  width: 20rem;
  height: 20rem;
  max-width: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.butcherman-font {
font-family: 'Butcherman', cursive;
color: red;
}
