.gradient {
  background-image: linear-gradient(black, lightblue);
}

.butcherman-white {
  font-family: 'Butcherman', cursive;
  color: white;
  font-size: 1.75rem;
}

.butcherman-footer-title {
  font-family: 'Butcherman', cursive;
  font-size: 2rem;
  color: red;
}

.white {
  color: white;
}

.links {
  text-decoration: none;
  color: white;
}
