.blue {
  background-color: #E2F3FF;
}

.butcherman-title {
  font-size: 1.5rem;
}

.butcherman-link {
  font-family: 'Butcherman', cursive;
  font-size: 1.2rem !important;
}

.butcherman-link-red {
  font-family: 'Butcherman', cursive;
  font-size: 1.2rem !important;
  color: red;
}

.butcherman-1 {
  font-family: 'Butcherman', cursive;
  color: #FF0000;
}

.butcherman-2 {
  font-family: 'Butcherman', cursive;
  color: #FFA500;
}

.butcherman-3 {
  font-family: 'Butcherman', cursive;
  color: #AAAAAA;
}

.butcherman-4 {
  font-family: 'Butcherman', cursive;
  color: #008000;
}

.butcherman-5 {
  font-family: 'Butcherman', cursive;
  color: #0000FF;
}

.butcherman-6 {
  font-family: 'Butcherman', cursive;
  color: #4B0082;
}

.butcherman-7 {
  font-family: 'Butcherman', cursive;
  color: #EE82EE;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.top-overlay {
  z-index: 10;
  background-color: #E2F3FF;
}
